<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
</head>
<body>
    <form action="/joinRoom" method="post">
        <div>
            <input type="text" name="roomId" id="id" placeholder="Enter the ID">
            <button type="submit" id="btn" name="enterBtn">Enter</button>
        </div>
    </form>
    
</body>
</html>